.products {
  &__title {
    padding: 0 20px;
  }

  &__list {
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.13);
  }

  &__item {
    border-bottom: 1px solid $color-gray;
    margin: 0 20px;
    padding: 17px 0 20px;

    &:last-child {
      border-bottom: none;
    }
  }
}