.products-item {
  display: flex;

  &__description {
    margin-bottom: 20px;
  }

  &__info {
    flex: 1 1 auto;
    padding-right: 55px;
  }

  &__control {
    flex: 0 0 auto;
  }

  &__bonus {
    width: 200px;
    outline: none;
  }
}