.button {
  outline: none;
  border: 1px solid $color-gray;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 8px 14px 8px;
  background-color: #fff;
  -webkit-appearance: none;

  &:focus {
    @include outline();
  }
}