.app {
  padding: 20px 0 100px;

  &__header {
    margin-bottom: 40px;
  }

  &__navigation {
    margin-bottom: 43px;
  }

  &__content {
    max-width: 1026px;
    margin: 0 auto;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 100vw;
      position: absolute;
      z-index: 1;
      bottom: -50px;
      left: 50%;
      background-color: $color-yellow;
      height: calc(100% - 95px);
      margin-left: -50vw;
    }
  }

  &__error {
    margin: 0 20px;
  }
}