* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #000;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 1em;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 0.7em 0;
}

p {
  margin: 0 0 1em 0;
}

.section-title {
  padding: 0 20px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
  min-width: 0;
  width: 100%;
  max-width: 100%;
  display: block;
  border: 1px solid $color-gray;
  height: 34px;
}

label {
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
}