.form {
  &__row {
    display: flex;
    margin: 0 -10px 15px;
  }

  &__error-message {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: red;
    margin: 10px 0;
    padding: 0 20px;
    text-align: center;

    &:before {
      content: '!';
      width: 25px;
      height: 25px;
      display: inline-block;
      background-color: red;
      border-radius: 50%;
      color: #fff;
      font-size: 20px;
      margin-right: 10px;
    } 
  }
}

.form-field {
  $root: &;
  flex: 1 1 5px;
  margin: 0 10px;

  &--error {
    input {
      border: 1px solid red;
    }

    .Select {
      input {
        border: transparent !important;
      }

      .Select-control {
        border: 1px solid red;
      }
    }

    #{$root}__error {
      font-size: 12px;
      display: block;
      margin-top: 5px;
      color: red;
    }
  }
}