.form {
  &__row {
    display: flex;
    margin: 0 -10px 15px;
  }
}

.form-field {
  flex: 1 1 auto;
  margin: 0 10px;

  &--error {
    input {
      border: 1px solid red;
    }

    .form-field__error {
      font-size: 12px;
      display: block;
      margin-top: 5px;
      color: red;
    }
  }
}